<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>EJ'S SWEETHUBS - Amazing & Delicious Treats</title>
  <meta name="title" content="EJ'S SWEETHUBS - Amazing & Delicious Treats">

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Forum&display=swap" rel="stylesheet">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="./assets/css/style.css">

  <!-- 
    - preload images
  -->
  <link rel="preload" as="image" href="./assets/images/hero-slider-1.jpg">
  <link rel="preload" as="image" href="./assets/images/hero-slider-2.jpg">
  <link rel="preload" as="image" href="./assets/images/hero-slider-3.jpg">

</head>

<body id="top">

  <!-- 
    - #PRELOADER
  -->

  <div class="preload" data-preaload>
    <div class="circle"></div>
    <p class="text">EJ'S SWEETHUBS</p>
  </div>





  <!-- 
    - #TOP BAR
  -->

  <div class="topbar">
    <div class="container">

      <address class="topbar-item">
        <div class="icon">
          <ion-icon name="location-outline" aria-hidden="true"></ion-icon>
        </div>

        <span class="span">
         Colegio De Montalban, Campus
        </span>
      </address>

      <div class="separator"></div>

      <div class="topbar-item item-2">
        <div class="icon">
          <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
        </div>

        <span class="span">Daily : 5.00 am to 5.00 pm</span>
      </div>

      <a class="topbar-item link">
        <div class="icon">
          <ion-icon name="call-outline" aria-hidden="true"></ion-icon>
        </div>
    
        <span class="span">+63 9771159288</span>
    </a>
    
    <div class="separator"></div>
    
    <a class="topbar-item link">
        <div class="icon">
          <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>
        </div>
    
        <span class="span">ejsweethubs@gmail.com</span>
    </a>
    

    </div>
  </div>


<!-- 
    - #HEADER
-->
<header class="header" data-header>
  <div class="container">

    <!-- Logo Section -->
    <a href="#" class="logo">
      <img src="./assets/images/logo13.png" width="50" height="50" alt="EJ'S SWEETHUBS - Home">
    </a>

    <!-- Navbar Section -->
    <nav class="navbar" data-navbar>

      <!-- Close Button -->
      <button class="close-btn" aria-label="close menu" data-nav-toggler>
        <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
      </button>

      <!-- Logo inside Navbar for Mobile -->
      <a href="#" class="logo">
        <img src="./assets/images/logosweet.png" width="160" height="50" alt="EJ'S SWEETHUBS - Home">
      </a>

      <!-- Navbar List -->
      <ul class="navbar-list">
        <li class="navbar-item">
          <a href="#home" class="navbar-link hover-underline active">
            <div class="separator"></div>
            <span class="span">Home</span>
          </a>
        </li>

        <li class="navbar-item">
          <a href="#menu" class="navbar-link hover-underline">
            <div class="separator"></div>
            <span class="span">Menus</span>
          </a>
        </li>

        <li class="navbar-item">
          <a href="#gallery" class="navbar-link hover-underline">
            <div class="separator"></div>
            <span class="span">Gallery</span>
          </a>
        </li>

        <li class="navbar-item">
          <a href="#about" class="navbar-link hover-underline">
            <div class="separator"></div>
            <span class="span">About Us</span>
          </a>
        </li>

        <li class="navbar-item">
          <a href="#contact" class="navbar-link hover-underline">
            <div class="separator"></div>
            <span class="span">Contact</span>
          </a>
        </li>

        <!-- Mobile App Link -->
        <li class="navbar-item">
          <a href="#mobile-app" class="navbar-link hover-underline">
            <div class="separator"></div>
            <span class="span">Mobile App</span>
          </a>
        </li>
      </ul>

      <!-- Contact Info (Booking details) -->
      <div class="text-center">
        <p class="headline-1 navbar-title">Visit Us</p>
        <address class="body-4">
          Colegio De Montalban, <br>
          Campus
        </address>
        <p class="body-4 navbar-text">Open: 9.30 am - 2.30pm</p>
        <a href="mailto:booking@grilli.com" class="body-4 sidebar-link">booking@grilli.com</a>

        <div class="separator"></div>

        <p class="contact-label">Booking Request</p>
        <a href="tel:+88123123456" class="body-1 contact-number hover-underline">
          +88-123-123456
        </a>
      </div>

    </nav>

    <!-- Button for secondary actions (EJ'S SWEETHUBS) -->
    <a href="#" class="btn btn-secondary">
      <span class="text text-1">EJ'S SWEETHUBS</span>
      <span class="text text-2" aria-hidden="true">EJ'S SWEETHUBS</span>
    </a>

    <!-- Menu Toggle Button for Mobile -->
    <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
      <span class="line line-1"></span>
      <span class="line line-2"></span>
      <span class="line line-3"></span>
    </button>

    <!-- Overlay for mobile navigation -->
    <div class="overlay" data-nav-toggler data-overlay></div>

  </div>
</header>





  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="hero text-center" aria-label="home" id="home">

        <ul class="hero-slider" data-hero-slider>

          <li class="slider-item active" data-hero-slider-item>

            <div class="slider-bg">
              <img src="./assets/images/hero-slider-1.png" width="1880" height="950" alt="" class="img-cover">
            </div>

            <p class="label-2 section-subtitle slider-reveal">Tradational & Hygine</p>

            <h1 class="display-1 hero-title slider-reveal">
              For the love of <br>
              delicious food
            </h1>

            <p class="body-2 hero-text slider-reveal">
              Come with family & feel the joy of mouthwatering food
            </p>

            <a href="#" class="btn btn-primary slider-reveal">
              <span class="text text-1">View Our Menu</span>

              <span class="text text-2" aria-hidden="true">View Our Menu</span>
            </a>

          </li>

          <li class="slider-item" data-hero-slider-item>

            <div class="slider-bg">
              <img src="./assets/images/hero-slider-2.png" width="1880" height="950" alt="" class="img-cover">
            </div>

            <p class="label-2 section-subtitle slider-reveal">delightful experience</p>

            <h1 class="display-1 hero-title slider-reveal">
              Flavors Inspired by <br>
              the Seasons
            </h1>

            <p class="body-2 hero-text slider-reveal">
              Come with family & feel the joy of mouthwatering food
            </p>

            <a href="#" class="btn btn-primary slider-reveal">
              <span class="text text-1">View Our Menu</span>

              <span class="text text-2" aria-hidden="true">View Our Menu</span>
            </a>

          </li>

          <li class="slider-item" data-hero-slider-item>

            <div class="slider-bg">
              <img src="./assets/images/hero-slider-3.png" width="1880" height="950" alt="" class="img-cover">
            </div>

            <p class="label-2 section-subtitle slider-reveal">amazing & delicious</p>

            <h1 class="display-1 hero-title slider-reveal">
              Where every flavor <br>
              tells a story
            </h1>

            <p class="body-2 hero-text slider-reveal">
              Come with family & feel the joy of mouthwatering food
            </p>

            <a href="#" class="btn btn-primary slider-reveal">
              <span class="text text-1">View Our Menu</span>

              <span class="text text-2" aria-hidden="true">View Our Menu</span>
            </a>

          </li>

        </ul>

        <button class="slider-btn prev" aria-label="slide to previous" data-prev-btn>
          <ion-icon name="chevron-back"></ion-icon>
        </button>

        <button class="slider-btn next" aria-label="slide to next" data-next-btn>
          <ion-icon name="chevron-forward"></ion-icon>
        </button>

        <a href="#" class="hero-btn has-after">
          <img src="./assets/images/hero-icon.png" width="48" height="48" alt="booking icon">

          <span class="label-2 text-center span">SWEETS TREATS</span>
        </a>

      </section>





      <!-- 
        - #SERVICE
      -->

<section class="section service bg-black-10 text-center" aria-label="service"  style="background-color: hsl(36, 93%, 29%);">
        <div class="container">

          <p class="section-subtitle label-2">Flavors For Royalty</p>

          <h2 class="headline-1 section-title">We Offer Top Notch</h2>

          <p class="section-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has been the industrys
            standard dummy text ever.
          </p>

          <ul class="grid-list">

            <li>
              <div class="service-card">

                <a href="#" class="has-before hover:shine">
                  <figure class="card-banner img-holder" style="--width: 285; --height: 336;">
                    <img src="./assets/images/service-1.jpg" width="285" height="336" loading="lazy" alt="Frappe"
                      class="img-cover">
                  </figure>
                </a>

                <div class="card-content">

                  <h3 class="title-4 card-title">
                    <a href="#">Frappe</a>
                  </h3>

                  <a href="#" class="btn-text hover-underline label-2">View Menu</a>

                </div>

              </div>
            </li>

            <li>
              <div class="service-card">

                <a href="#" class="has-before hover:shine">
                  <figure class="card-banner img-holder" style="--width: 285; --height: 336;">
                    <img src="./assets/images/service-2.png" width="285" height="336" loading="lazy" alt="Cakes"
                      class="img-cover">
                  </figure>
                </a>

                <div class="card-content">

                  <h3 class="title-4 card-title">
                    <a href="#">Cakes</a>
                  </h3>

                  <a href="#" class="btn-text hover-underline label-2">View Menu</a>

                </div>

              </div>
            </li>

            <li>
              <div class="service-card">

                <a href="#" class="has-before hover:shine">
                  <figure class="card-banner img-holder" style="--width: 285; --height: 336;">
                    <img src="./assets/images/service-3.png" width="285" height="336" loading="lazy" alt="Smoothies"
                      class="img-cover">
                  </figure>
                </a>

                <div class="card-content">

                  <h3 class="title-4 card-title">
                    <a href="#">Smoothies</a>
                  </h3>

                  <a href="#" class="btn-text hover-underline label-2">View Menu</a>

                </div>

              </div>
            </li>

          </ul>

          <img src="./assets/images/shape-1.png" width="246" height="412" loading="lazy" alt="shape"
            class="shape shape-1 move-anim">
          <img src="./assets/images/shape-2.png" width="343" height="345" loading="lazy" alt="shape"
            class="shape shape-2 move-anim">

        </div>
      </section>





      <!-- 
        - #ABOUT
      -->

      <section class="section about text-center" aria-labelledby="about-label" id="about">
        <div class="container">

          <div class="about-content">

            <p class="label-2 section-subtitle" id="about-label">Our Story</p>

            <h2 class="headline-1 section-title">Every Flavor Has a Story to Tell</h2>

            <p class="section-text">
              From the first bite to the last, each flavor carries its own unique story. What starts as simple ingredients transforms into a taste experience that has been perfected over centuries. Whether crafted by hand or inspired by tradition, every flavor we offer is a reflection of history, culture, and creativity.
            </p>
            
            <div class="contact-label">Contact Us</div>

            <a href="tel:+804001234567" class="body-1 contact-number hover-underline">+63 9771159288</a>

            <a href="#" class="btn btn-primary">
              <span class="text text-1">Read More</span>

              <span class="text text-2" aria-hidden="true">Read More</span>
            </a>

          </div>

          <figure class="about-banner">

            <img src="./assets/images/about-banner.png" width="570" height="570" loading="lazy" alt="about banner"
              class="w-100" data-parallax-item data-parallax-speed="1">

            <div class="abs-img abs-img-1 has-before" data-parallax-item data-parallax-speed="1.75">
              <img src="./assets/images/about-abs-image.png" width="285" height="285" loading="lazy" alt=""
                class="w-100">
            </div>

            <div class="abs-img abs-img-2 has-before">
              <img src="./assets/images/badge-2.png" width="133" height="134" loading="lazy" alt="">
            </div>

          </figure>

          <img src="./assets/images/shape-3.png" width="197" height="194" loading="lazy" alt="" class="shape">

        </div>
      </section>





      <!-- 
        - #SPECIAL DISH
      -->

      <section class="special-dish text-center" aria-labelledby="dish-label">

        <div class="special-dish-banner">
          <img src="./assets/images/special-dish-banner.png" width="940" height="900" loading="lazy" alt="special dish"
            class="img-cover">
        </div>

        <div class="special-dish-content bg-black-10">
          <div class="container">

            <img src="./assets/images/badge-1.png" width="28" height="41" loading="lazy" alt="badge" class="abs-img">

            <p class="section-subtitle label-2">Special Dish</p>

            <h2 class="headline-1 section-title">Banana Bread</h2>

            <p class="section-text">
              Our banana bread is a delicious, moist, and flavorful treat made with ripe bananas and a blend of premium ingredients. 
              Perfectly baked to golden perfection, it offers a rich, sweet aroma and a soft, fluffy texture that melts in your mouth. 
              Whether enjoyed as a snack or paired with your favorite beverage, this banana bread is sure to satisfy your cravings. 
              Try a slice today and indulge in a homemade experience like no other!
            </p>
            

            <div class="wrapper">
              <del class="del body-3">₱40.00</del>

              <span class="span body-1">₱40.00</span>
            </div>

            <a href="#" class="btn btn-primary">
              <span class="text text-1">View All Menu</span>

              <span class="text text-2" aria-hidden="true">View All Menu</span>
            </a>

          </div>
        </div>

        <img src="./assets/images/shape-4.png" width="179" height="359" loading="lazy" alt="" class="shape shape-1">

        <img src="./assets/images/shape-9.png" width="351" height="462" loading="lazy" alt="" class="shape shape-2 circle-image">

      </section>


<!-- #MENU Section -->
<section class="section menu" aria-label="menu-label" id="menu" style="background-color: hsl(36, 93%, 29%);">
  <div class="container">
    <p class="section-subtitle text-center label-2">Know Our Menu</p>
    <h2 class="headline-1 section-title text-center">Delicious Menu</h2>

    <!-- Categories Selector -->
    <div class="category-selector mb-3 text-center">
      <p class="label-1">Select a category:</p>
      <div class="category-grid">
        <div class="category-item" onclick="filterItems('all')">
          <img src="assets/images/all.png" alt="All" class="category-image">
          <span class="category-name">All Categories</span>
        </div>
        <div class="category-item" onclick="filterItems('Desserts')">
          <img src="assets/images/desserts.png" alt="Desserts" class="category-image">
          <span class="category-name">Desserts</span>
        </div>
        <div class="category-item" onclick="filterItems('Cakes')">
          <img src="assets/images/cakes.png" alt="Cakes" class="category-image">
          <span class="category-name">Cakes</span>
        </div>
        <div class="category-item" onclick="filterItems('Breads')">
          <img src="assets/images/bread.png" alt="Breads" class="category-image">
          <span class="category-name">Breads</span>
        </div>
        <div class="category-item" onclick="filterItems('Milktea')">
          <img src="assets/images/milktea.png" alt="Milktea" class="category-image">
          <span class="category-name">Milktea</span>
        </div>
        <div class="category-item" onclick="filterItems('Fruit tea')">
          <img src="assets/images/fruit_tea.png" alt="Fruit Tea" class="category-image">
          <span class="category-name">Fruit tea</span>
        </div>
        <div class="category-item" onclick="filterItems('Ice Coffee')">
          <img src="assets/images/Ice_coffee.png" alt="Ice Coffee" class="category-image">
          <span class="category-name">Ice coffee</span>
        </div>
        <div class="category-item" onclick="filterItems('Frappe')">
          <img src="assets/images/frappe.png" alt="Frappe" class="category-image">
          <span class="category-name">Frappe</span>
        </div>
        <div class="category-item" onclick="filterItems('Smoothies')">
          <img src="assets/images/smoothies.png" alt="Smoothies" class="category-image">
          <span class="category-name">Smoothies</span>
        </div>
        <div class="category-item" onclick="filterItems('Takoyaki')">
          <img src="assets/images/takoyaki.png" alt="Takoyaki" class="category-image">
          <span class="category-name">Takoyaki</span>
        </div>
        <div class="category-item" onclick="filterItems('Fried Noodles')">
          <img src="assets/images/fried_noodles.png" alt="Fried Noodles" class="category-image">
          <span class="category-name">Fried noodles</span>
        </div>
      </div>
    </div>
    

   <!-- Menu Items Grid -->
<ul class="grid-list">
  <% items.forEach(function(item) { %>
    <li class="grid-item" data-category="<%= item.category %>">
      <div class="menu-card hover:card">
        <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
          <img src="<%= item.image %>" width="100" height="100" style="width: 100px; height: 100px;" loading="lazy" alt="<%= item.name %>" class="img-cover">
        </figure>

        <div>
          <div class="title-wrapper" style="display: flex; justify-content: space-between; align-items: center;">
            <h3 class="title-3">
              <a href="#" class="card-title"><%= item.name %></a>
            </h3>
            <% if (item.isNew) { %>
              <span class="badge label-1">New</span>
            <% } %>

            <span class="span title-2">₱<%= item.price.toFixed(2) %></span>
          </div>

          <!-- Available Sizes -->
          <% if (item.sizes && item.sizes.length > 0) { %>
            <div class="size-options">
              <label class="label-1">Available Size:</label>
              <div class="size-options-container">
                <% item.sizes.forEach(function(size) { %>
                  <div class="size-option" onclick="updatePrice('<%= item._id %>', '<%= size.size %>', this)" data-price="<%= size.price %>" style="display: flex; justify-content: space-between;">
                    <span><%= size.size %></span>
                    <span>₱<%= size.price.toFixed(2) %></span> <!-- Displaying size and its price -->
                  </div>
                <% }); %>
              </div>
            </div>
          <% } %>

          <p class="card-text label-1" style="color: black; font-weight: bold;">
            <%= item.description %>
          </p>
          
        </div>
      </div>
    </li>
  <% }); %>
</ul>


                </div>

              </div>
            </li>

          </ul>

          <p class="menu-text text-center">
            Opening & Closing Time <span class="span">5:00 am</span> to <span class="span">5:00 pm</span>
          </p>

          <a href="#" class="btn btn-primary">
            <span class="text text-1">View All Menu</span>

            <span class="text text-2" aria-hidden="true">View All Menu</span>
          </a>

          <img src="./assets/images/shape-5.png" width="921" height="1036" loading="lazy" alt="shape"
            class="shape shape-2 move-anim">
          <img src="./assets/images/shape-6.png" width="343" height="345" loading="lazy" alt="shape"
            class="shape shape-3 move-anim">

        </div>
      </section>





      <!-- 
        - #TESTIMONIALS
      -->

      <section class="section testi text-center has-bg-image"
        style="background-image: url('./assets/images/testimonial-bg.png')" aria-label="testimonials">
        <div class="container">

          <div class="quote">”</div>

          <p class="headline-2 testi-text">
            Masarap po sya.
          </p>

          <div class="wrapper">
            <div class="separator"></div>
            <div class="separator"></div>
            <div class="separator"></div>
          </div>

          <div class="profile">
            <img src="./assets/images/testi-avatar.jpg" width="100" height="100" loading="lazy" alt="Sam Jhonson"
              class="img">

            <p class="label-2 profile-name">Earl Jude Ramasta</p>
          </div>

        </div>
      </section>





      <!-- 
        - #RESERVATION
      -->

      <section class="reservation" id="gallery">
        <div class="container">
          <div class="form reservation-form bg-black-10">
            <form action="" class="form-left">
              <h2 class="headline-1 text-center">Gallery</h2>
      
              <div class="gallery-container">
                <div class="gallery">
                  <img src="assets/images/gallery-1.jpg" alt="Gallery Image 1">
                  <img src="assets/images/gallery-2.jpg" alt="Gallery Image 2">
                  <img src="assets/images/gallery-3.jpg" alt="Gallery Image 3">
                  <img src="assets/images/gallery-4.jpg" alt="Gallery Image 4">
                  <img src="assets/images/gallery-5.jpg" alt="Gallery Image 5">
                </div>
              </div>
            
            </form>
            

            <div class="form-right text-center" style="background-image: url('./assets/images/form-pattern.png')">

              <h2 class="headline-1 text-center">Contact Us</h2>

              <p class="contact-label">For Concern</p>

              <a href="tel:+88123123456" class="body-1 contact-number hover-underline">+63 9771159288</a>

              <div class="separator"></div>

              <p class="contact-label">Location</p>

              <address class="body-4">
                Colegio De Montalban, Campus
              </address>

              <p class="contact-label">Opening Time</p>

              <p class="body-4">
                Monday to Saturday <br>
                5.00 am - 5.00 pm
              </p>

            </div>

          </div>

        </div>
      </section>





      <!-- 
        - #FEATURES
      -->

      <section class="section features text-center" aria-label="features">
        <div class="container">

          <p class="section-subtitle label-2">Why Choose Us</p>

          <h2 class="headline-1 section-title">Our Strength</h2>

          <ul class="grid-list">

            <li class="feature-item">
              <div class="feature-card">

                <div class="card-icon">
                  <img src="./assets/images/features-icon-1.png" width="100" height="80" loading="lazy" alt="icon">
                </div>

                <h3 class="title-2 card-title">Delicious Food</h3>

                <p class="label-1 card-text">
                  Enjoy a variety of delicious dishes made with fresh ingredients. From savory meals to sweet treats, there's something for everyone to satisfy your cravings!
                </p>
                
              </div>
            </li>

            <li class="feature-item">
              <div class="feature-card">

                <div class="card-icon">
                  <img src="./assets/images/features-icon-2.png" width="100" height="80" loading="lazy" alt="icon">
                </div>

                <h3 class="title-2 card-title">Refreshing Drinks</h3>

                <p class="label-1 card-text">
                  Enjoy our selection of refreshing drinks! Whether you prefer the creamy Milk Tea, fruity Fruit Tea, chilled Ice Coffee, sweet Frappe, or healthy Smoothies, there's something for everyone to enjoy!
                </p>
                

              </div>
            </li>

            <li class="feature-item">
              <div class="feature-card">

                <div class="card-icon">
                  <img src="./assets/images/features-icon-3.png" width="100" height="80" loading="lazy" alt="icon">
                </div>

                <h3 class="title-2 card-title">Affordable</h3>

                <p class="label-1 card-text">
                  Enjoy delicious meals and refreshing drinks without breaking the bank. Our menu offers great quality at prices you'll love, making it easy to treat yourself or dine with friends!
                </p>
              </div>
            </li>

            <li class="feature-item">
              <div class="feature-card">

                <div class="card-icon">
                  <img src="./assets/images/features-icon-4.png" width="100" height="80" loading="lazy" alt="icon">
                </div>

                <h3 class="title-2 card-title">Inside Campus</h3>

                <p class="label-1 card-text">
                  Visit us at the Colegio De Montalban Campus Canteen, where you can enjoy delicious food and refreshing drinks right on campus. It's the perfect spot to grab a meal between classes or relax with friends!
                </p>
              </div>
            </li>

          </ul>

          <img src="./assets/images/shape-7.png" width="208" height="178" loading="lazy" alt="shape"
            class="shape shape-1">

          <img src="./assets/images/shape-8.png" width="120" height="115" loading="lazy" alt="shape"
            class="shape shape-2">

        </div>
      </section>





      <!-- 
        - #EVENT
      -->

      <section class="section event bg-black-10" aria-label="event" style="background: linear-gradient(hsla(38, 71%, 49%, 0.719), hsla(38, 53%, 66%, 0.719));">
        <div class="container">

          <p class="section-subtitle label-2 text-center">Recent Updates</p>

          <h2 class="section-title headline-1 text-center">News & Promo</h2>

          <ul class="grid-list">

            <li>
              <div class="event-card has-before hover:shine">

                <div class="card-banner img-holder" style="--width: 350; --height: 450;">
                  <img src="./assets/images/event-1.png" width="350" height="450" loading="lazy"
                    alt="Flavour so good you’ll try to eat with your eyes." class="img-cover">

                  <time class="publish-date label-2" datetime="2022-09-15">15/09/2024</time>
                </div>

                <div class="card-content">
                  <p class="card-subtitle label-2 text-center">Food, Flavour</p>

                  <h3 class="card-title title-2 text-center">
                    Flavour so good you’ll try to eat with your eyes.
                  </h3>
                </div>

              </div>
            </li>

            <li>
              <div class="event-card has-before hover:shine">

                <div class="card-banner img-holder" style="--width: 350; --height: 450;">
                  <img src="./assets/images/event-2.png" width="350" height="450" loading="lazy"
                    alt="Flavour so good you’ll try to eat with your eyes." class="img-cover">

                  <time class="publish-date label-2" datetime="2022-09-08">08/09/2024</time>
                </div>

                <div class="card-content">
                  <p class="card-subtitle label-2 text-center">Frappe</p>

                  <h3 class="card-title title-2 text-center">
                    Flavour so good you’ll try to eat with your eyes.
                  </h3>
                </div>

              </div>
            </li>

            <li>
              <div class="event-card has-before hover:shine">

                <div class="card-banner img-holder" style="--width: 350; --height: 450;">
                  <img src="./assets/images/event-3.png" width="350" height="450" loading="lazy"
                    alt="Flavour so good you’ll try to eat with your eyes." class="img-cover">

                  <time class="publish-date label-2" datetime="2022-09-03">03/09/2024</time>
                </div>

                <div class="card-content">
                  <p class="card-subtitle label-2 text-center">Home sweet home</p>

                  <h3 class="card-title title-2 text-center">
                    Flavour so good you’ll try to eat with your eyes.
                  </h3>
                </div>

              </div>
            </li>

          </ul>

          <a href="#" class="btn btn-primary">
            <span class="text text-1">Back to top</span>

            <span class="text text-2" aria-hidden="true">Back to top</span>
          </a>

        </div>
      </section>

    </article>
  </main>



<!-- 
    - #MOBILE APP
-->
<section class="section mobile-app text-center" id="mobile-app" aria-label="mobile-app">
  <div class="container">
    <p class="section-subtitle label-2">Download Our App</p>
    <h2 class="headline-1 section-title">Our Mobile App</h2>

    <div class="app-info" style="margin-bottom: 40px;">
      <p class="label-1 app-description" style="font-size: 1.5rem;">
        Order food and drinks anytime, anywhere with our app! Browse the menu, place orders, and enjoy exclusive offers—all at your fingertips.
      </p>
    </div>
    
    <div class="app-images" style="display: flex; justify-content: center; gap: 40px;">
      <img src="./assets/images/mob.jpg" width="300" height="500" loading="lazy" alt="Mobile App Screenshot 1" class="app-screenshot">
      <img src="./assets/images/mob3.jpg" width="300" height="500" loading="lazy" alt="Mobile App Screenshot 2" class="app-screenshot">
      <img src="./assets/images/mob2.jpg" width="300" height="500" loading="lazy" alt="Mobile App Screenshot 3" class="app-screenshot">
    </div>
    
    <!-- Add CSS if necessary -->
    <style>
      .app-screenshot {
        border-radius: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
      }
    
      .app-screenshot:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.15);
      }
    </style>
    

    <!-- Centered Download Now Button -->
    <div style="text-align: center; margin-top: 30px;">
      <a href="https://drive.google.com/uc?export=download&id=1CQmgeemNzjpJDXdIdjhPm_-iagUvvBFU" class="btn btn-primary" target="_blank" style="display: block; margin: 0 auto;">Download Now</a>
    </div>

  </div>
</section>



  <!-- 
    - #FOOTER
  -->

  <footer class="footer section has-bg-image text-center" style="background-image: url('./assets/images/footer-bg.png')">
    <div class="container">
        <div class="footer-top grid-list">
            <div class="footer-brand has-before has-after">
                <a href="#contact" class="logo">
                    <img src="./assets/images/logosweet.png" width="160" height="50" loading="lazy" alt="grilli home">
                </a>

                <address class="body-4">
                    Colegio De Montalban, Campus
                </address>

                <span class="body-4 contact-link">ejsweethubs@gmail.com</span>
                <span class="body-4 contact-link">Contact Us: +63 9771159288</span>
                <p class="body-4">Open: 05:00 am - 05:00 pm</p>

                <div class="wrapper">
                    <div class="separator"></div>
                    <div class="separator"></div>
                    <div class="separator"></div>
                </div>

                <p class="title-1">Get News & Offers</p>
                <p class="label-1">
                    Follows Us On Facebook <span class="span">Join Us.</span>
          </p>
        

        </div>

        <ul class="footer-list">

          <li>
            <a href="#home" class="label-2 footer-link hover-underline">Home</a>
          </li>

          <li>
            <a href="#menu" class="label-2 footer-link hover-underline">Menus</a>
          </li>

          <li>
            <a href="#about" class="label-2 footer-link hover-underline">About Us</a>
          </li>

          <li>
            <a href="#gallery" class="label-2 footer-link hover-underline">Gallery</a>
          </li>

          <li>
            <a href="#gallery" class="label-2 footer-link hover-underline">Contact</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <span class="label-2 footer-link hover-underline">Sweets</span>
          </li>
          
          <li>
            <span class="label-2 footer-link hover-underline">Treats</span>
          </li>
          
          <li>
            <span class="label-2 footer-link hover-underline">Delicious</span>
          </li>
          
          <li>
            <span class="label-2 footer-link hover-underline">Enjoyful</span>
          </li>
          
          <li>
            <span class="label-2 footer-link hover-underline">Hubs</span>
          </li>
          

        </ul>

      </div>

      <div class="footer-bottom">

        <p class="copyright">
          &copy; EJ'S SWEETHUBS. All Rights Reserved.
        </p>

      </div>

    </div>
  </footer>





  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn active" aria-label="back to top" data-back-top-btn>
    <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
  </a>





  <!-- 
    - custom js link
  -->
  <script src="./assets/js/script.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>
